@import "tailwindcss";
@font-face {
  font-family: "hanken";
  src: url("/HankenGrotesk-Variable.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "hanken", sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  min-height: 100vh;
}
